/* Fontes para o CSS */
@font-face {
    font-family: Zen Maru Regular;
    src: url(fonts//ZenMaruGothic-Regular.ttf);
    font-family: Zen Maru Bold;
    src: url(fonts/ZenMaruGothic-Bold.ttf);
    font-family: Zen Maru Light;
    src: url(fonts/ZenMaruGothic-Light.ttf);
    font-family: Zen Maru Medium;
    src: url(fonts/ZenMaruGothic-Medium.ttf);
}

/* variaveis para serem usadas no código */
.root {
    --HoverTransition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --HoverOpacity: 0.6;
    --TextColor: #17171D;
    --MainColor: #ebac8b;

    --MainColorLight: #ffff;
    --SecondaryColor: #e66b6e;
    --SecondaryColorLight: navajowhite;
    --LightGrayColor: #dedede;
        --primary: #EAA636;
        --secondary: #545454;
        --light: #FDF5EB;
        --dark: #1E1916;
    
    
}


/* estilização do body e tag "a"/"a:hover" */
body {
    font-family: 'Zen Maru Gothic', sans-serif;;
    color: var(--TextColor);
    font-weight: 300;
    font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

a {
    color: var(--MainColor);
    text-decoration: none;
    font: size 300px;
}

a:hover {
    color: var(--MainColorTransparent);
}
/* estilização do container */
.container {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}
/* estilização dos titulos */
h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 600 !important;
}
/* paddings e margins a ser utilizados */
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.pl-80 {
    padding-left: 80px;
}

.cover {
    background-size: cover;
    background-position: 0 -700px;
    background-repeat: no-repeat;
}

@media (max-width: 1300px) {
    .cover {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
}
.cover-bottom {
    background-position: center bottom;
}

.cover-top {
    background-position: center top;
}

.mt-100 {
    margin-top: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.text-right {
    text-align: right;
}

.text-light {
    opacity: .7;
}

/* Elementos do escopo */
.btn.btn-primary {
    border: none;
}
.custom-button {
    color: var(--MainColor)
}

.i-textos{
color: #FF5733;
text-transform: uppercase;
letter-spacing: 2px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 35px 15px;
    color: var(--MainColor);
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--MainColor);
}

.navbar.fixed-top {
    transition: .5s;
}

/* Logo */
/* Estilos para o logotipo */
.header__title {
    display: flex;
    align-items: center;
}

.logo > img{
    border-radius: 50%;
    width: 179px;
    height: 100%; /* Espaçamento à direita para separar o logotipo dos outros links */
}
@media(max-width: 987px){
    .logo > img {
        border-radius: 50%;
        width:85px;
        height: 100%;
        margin-left: 10px;
        margin-top: 50px;
        left:0px;
        top:0px;
        display: none;
    }
}
@media(max-width:630px) {
    .logo > img {
        display: none;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 50px;
        width: 70px;
        height: 70px;
        ;

    }
}


/* Outros estilos para a barra de navegação, se necessário */


@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, .3);
        background: transparent;
    }

    .navbar-nav {
        position: inherit;
    top: 30px;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
        
    }
    .navbar-collapse{
        position:absolute;
        left:0px;
        top:0px;
    }
    .hero{
        background-color: var(--SecondaryColorLight);
    }
    
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



/* Animação */
.slideshow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
            animation-name: kenburns;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    opacity: 0.5;
    transform: scale(1.2);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 0, 0, 0.5)); /* Gradient background */
  }
  .slideshow-image:nth-child(1) {
    -webkit-animation-name: kenburns-1;
            animation-name: kenburns-1;
    z-index: 3;
  }
  .slideshow-image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
            animation-name: kenburns-2;
    z-index: 2;
  }
  .slideshow-image:nth-child(3) {
    -webkit-animation-name: kenburns-3;
            animation-name: kenburns-3;
    z-index: 1;
  }
  .slideshow-image:nth-child(4) {
    -webkit-animation-name: kenburns-4;
            animation-name: kenburns-4;
    z-index: 0;
  }
  
  @-webkit-keyframes kenburns-1 {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
    1.5625% {
      opacity: 1;
    }
    23.4375% {
      opacity: 1;
    }
    26.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
    98.4375% {
      opacity: 0;
      transform: scale(1.2117647059);
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes kenburns-1 {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
    1.5625% {
      opacity: 1;
    }
    23.4375% {
      opacity: 1;
    }
    26.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
    98.4375% {
      opacity: 0;
      transform: scale(1.2117647059);
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes kenburns-2 {
    23.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    26.5625% {
      opacity: 1;
    }
    48.4375% {
      opacity: 1;
    }
    51.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @keyframes kenburns-2 {
    23.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    26.5625% {
      opacity: 1;
    }
    48.4375% {
      opacity: 1;
    }
    51.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @-webkit-keyframes kenburns-3 {
    48.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    51.5625% {
      opacity: 1;
    }
    73.4375% {
      opacity: 1;
    }
    76.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @keyframes kenburns-3 {
    48.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    51.5625% {
      opacity: 1;
    }
    73.4375% {
      opacity: 1;
    }
    76.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @-webkit-keyframes kenburns-4 {
    73.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    76.5625% {
      opacity: 1;
    }
    98.4375% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  @keyframes kenburns-4 {
    73.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    76.5625% {
      opacity: 1;
    }
    98.4375% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
 
  @media(max-width: 903px){
    .slideshow{
        display: none;
    }
    .imagem-celular{
        display: flex;
        background-repeat: no-repeat;
        background-color: var(--MainColor);
    }

    .hider {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        overflow: hidden;
    }
    
    .hider > img {
        transform: translate3d(0, 100%, 0);
        animation: slide-up-1 3s infinite, slide-up-2 3s infinite 3s;
        width: 400px; /* Adjust the width of your image */
        height: auto; /* This ensures that the image maintains its aspect ratio */
        border-radius: 50%;
    }
    
    @keyframes slide-up-1 {
        0% {
            transform: translate3d(0, 100%, 0);
            opacity: 0; /* Start with opacity 0 */
        }
        50% {
            transform: translate3d(0, 0, 0);
            opacity: 1; /* Fade in the image at 50% */
        }
        100% {
            transform: translate3d(0, 100%, 0);
            opacity: 0; /* Fade out the image at 100% */
        }
    }
    
    @keyframes slide-up-2 {
        0% {
            transform: translate3d(0, 100%, 0);
            opacity: 0; /* Start with opacity 0 */
        }
        50% {
            transform: translate3d(0, 0, 0);
            opacity: 1; /* Fade in the image at 50% */
        }
        100% {
            transform: translate3d(0, 100%, 0);
            opacity: 0; /* Fade out the image at 100% */
        }
    }
    
      
      /* Add more keyframes for different colors as needed */
      
  }
/* Imagem Celular */

@media(max-width:1920){
    .imagem-celular .hider .text{
        display: none;
    }
    }




/* Hero - Section central */

.hero {
    position: relative;
    overflow: hidden;
    min-height: 98vh;
}

.hero h1 {
    font-size: 60px;
    line-height: 84px;
    letter-spacing:-3px;
    font-weight: 700;
}
.hero-right-bg-card {
    background-color: var(--MainColorDark);
    position: absolute;
    right: 0;
    border-radius: 200px;
    width: 50%;
    height: 150%;
    bottom: 200px;
    transform: rotate(32deg);
    transform-origin: bottom left;
}

.hero-right-bg-card.with-image {
    overflow: hidden;
    background-color: transparent;
}

.hero-right-bg-card.with-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 28%;
    left: -9%;
    z-index: -1;
    background: var(--backgroundImage);
    transform: rotate(-32deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}


.hero-opacity {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero-opacity.opacity-10 {
    background-color: rgba(0, 0, 0, 0.1);
}

.hero-opacity.opacity-20 {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Estilo para a classe hero-title */
.hero-title {
    position: absolute;
    top: 50%; /* Posiciona verticalmente no centro */
    left: 50%; /* Posiciona horizontalmente no centro */
    transform: translate(-50%, -50%); /* Centraliza o elemento */
    z-index: 2; /* Define a ordem de empilhamento (se necessário) */
}




@media only screen and (max-width: 1199px) {
    .site-footer.style-1 .footer-top .widget_services {
        padding-left: 0;
    }
}


 @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 1680px) {
    .container {
        max-width: 1600px;
    }
}


/*** About ***/
.img-twice::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    background: var(--MainColor);
    border: 25px solid var(--MainColorTransparent);
    border-radius: 6px;
    z-index: -1;
}


/*** Product ***/
.product-item {
    transition: .5s;
}

.product-item:hover {
    background: var(--MainColor) !important;
}

.product-item:hover * {
    color: var(--MainColorLight);
}

.product-item:hover .border-primary {
    border-color: var(--MainColorLight) !important;
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.product-item:hover .product-overlay {
    height: 100%;
    opacity: 1;
}

/*footer */

.nav

.image-container {
    position: relative;
    width: auto;
    height: auto;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    background-image: url('./src/img/texture-bg.jpg');
    
    background-size: cover;
    background-position: center;
  }

  .text-effect {
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.937);
    letter-spacing: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .text-effect:hover {
    color: #FDF5EB;
    text-shadow: 0 0 5px var(--MainColorLight), 0 0 25px var(--MainColorLight), 0 0 50px var(--MainColorLight), 0 0 100px #ffff;
  }

  .disable-bootstrap-styles {
    background-color: transparent;
    border: none;
    color: inherit;
    text-decoration: none;
    padding: 0;
  }
  
  

  
  
  
/*Quem Somos */


/*Pagina=Perfil*/


.header {
  width: 100%;
  height: 20vh;
  margin: 0;
  /* background-color: var(--MainColorLight); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .header__title {
  color: var(--secondary);
  font-size: 2.125rem;
  margin-right: 1rem;
}

.header img {
  width: 200px;
  margin-left: 0.4rem;
}

.border{
  border: 1px solid red;
}

.sidebar{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 240px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  border-right: 1px solid white;
  transition: all 0.35s;
  
  
}

.sidebar > nav{
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar__navgation{
  display: flex;
  flex-direction: column;

}

.sidebar-header{
  width: 100%;
  margin-bottom: 16px;

}

.logo-img{
  width: 50px;
  min-width: 8_0px;
  border-radius: 50%;
  object-fit: cover; 
  transition: transform 0.4s;
  margin-left: 10px;
}

.logo-img:hover{
  transform: scale(1.5);
}

.sidebar button{
  height: 60px;
  background: transparent;
  border: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0;

}

.sidebar button > span { 
  display: inline-flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 16px 0 12px;
  border-radius: 24px;
  line-height: 1;
  transition: all 0.2;
}

.sidebar button:hover > span { 
  background: rgba(255, 255, 255, 0.08);
}

.sidebar button i { /* tamanho do icone no menu lateral */
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar button span {
  font-size: 16px; /* tamanho do texto no menu lateral */
}

.sidebar > nav {
  /* flex-grow: quanto vai crescer esse item */
  /* flex-swing: segundo numero 1, define o valor de redução*/
  
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main{
  margin-left: 250px;
  margin-right: 6px;
  overflow: hidden;
}

.main-title {
  color: var(--secondary);    
  display: flex;
  margin-left: 25px;

}
.main__servicos {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.main__servicos__card {
  background-color: var(--MainColor);
  box-shadow: 5px 10px 5px 3px rgba(255, 216, 216, 0.6588235294);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  width: 400px;
  transition: ease-in-out 0.5s;
}
.main__servicos__card .card__text h4 {
  color: var(--SecondaryColor);
  font-size: 1.525rem;
  font-weight: 500;
  margin: 0.725rem 1rem;
}
.main__servicos__card .card__text p {
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 1rem;
  width: 80%;
}
.main__servicos__card .card__button {
  display: flex;
  justify-content: flex-end;
}
.main__servicos__card .card__button a {
  color: var(--SecondaryColor);
  font-size: 1.315rem;
  font-weight: 400;
  padding: 0.2rem 1rem;
  margin: 0.5rem 1rem;
  transition: ease-in-out 0.2s;
}
.main__servicos__card .card__button a:hover {
  color: var(--light);
  background-color: var(--SecondaryColor);
} /*# sourceMappingURL=servicos.css.map */


/* ajustando sidebar, apenas os icones em telas menores */
@media (width < 920px){
  .sidebar{
      width: 72px;
  }

  .sidebar button > span{
      width: 50px;
  }

  .sidebar button > span > span{
      opacity: 0;
      visibility: hidden;
  }

  .main{
      transition: margin 0.4s;
      margin-left: 78px;
  }

}

/*para esconder o menu mobile quando a pagina estiver grande*/

.button-mobile{
      display: none;
      align-self: flex-start;
      align-items: center;
      margin: 16px;
      background: transparent;
      color: aliceblue;
      border: 0;
}

.button-mobile span{
  font-size: 24px;
  margin-left: 10px;
}

.button-close span i{
  font-size: 42px;
}

.menu-mobile{
  display: none;
}

.menu-mobile-active{
  width: 100vw;
  height: 100vh;
  background-color: pink;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu-mobile-active button{
  background: transparent;
  border: 0;
  color: pink;
  margin-bottom: 16px;
}

.menu-mobile-active button > span{
  display: inline-flex;
  align-items: center;
}

.mobile-text{
  font-size: 24px;
  margin-left: 10px;

}

@media (max-width: 480px){
  .sidebar{
      display: none;
  }

  .button-mobile{
      display: flex;
  }

  .main{
      margin-left: 6px;
  }
}

/* formulario idoson-voluntario-servico shoow */
body{
  background-color: #dee9ff;
}

.registration-form{
padding: 50px 0;
}

.registration-form form{
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
text-align: center;
  background-color: #5891ff;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.registration-form .item{
border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form .create-account{
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #5791ff;
  border: none;
  color: white;
  margin-top: 20px;
}

.registration-form .social-media{
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 35px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #9fadca;
  border-top: 1px solid #dee9ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
  margin-top: 30px;
  margin-bottom: 16px;
}

.registration-form .social-icons a{
  font-size: 23px;
  margin: 0 3px;
  color: #5691ff;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  display: inline-block;
  height: 45px;
  text-align: center;
  background-color: #fff;
  line-height: 45px;
}

.registration-form .social-icons a:hover{
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .registration-form form{
      padding: 50px 20px;
  }

  .registration-form .form-icon{
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
}
.hidden {
  visibility: hidden;
  position: absolute;
  left: -9999px; /* Move the element off-screen instead of hiding */
  
}
