@font-face {
    font-family: Zen Maru Regular;
    src: url(fonts//ZenMaruGothic-Regular.ttf);
    font-family: Zen Maru Bold;
    src: url(fonts/ZenMaruGothic-Bold.ttf);
    font-family: Zen Maru Light;
    src: url(fonts/ZenMaruGothic-Light.ttf);
    font-family: Zen Maru Medium;
    src: url(fonts/ZenMaruGothic-Medium.ttf);
}


.root {
    --HoverTransition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --HoverOpacity: 0.6;
    --TextColor: #17171D;
    --MainColor: #ebac8b;
    --MainColorTransparent: #e66b6e;
    --MainColorLight: #ffff;
    --SecondaryColor: #fff0d9;
    --SecondaryColorLight: #FFF8EC;
    --LightGrayColor: #dedede;
        --primary: #EAA636;
        --secondary: #545454;
        --light: #FDF5EB;
        --dark: #1E1916;
    
}

body {
    font-family: 'Zen Maru Gothic', sans-serif;;
    color: var(--TextColor);
    font-weight: 300;
    font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--MainColor);
    text-decoration: none;
}

a:hover {
    color: var(--MainColorTransparent);
}

.container {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 600 !important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.pl-80 {
    padding-left: 80px;
}

.cover {
    background-size: cover;
    background-position: 0 -700px;
    background-repeat: no-repeat;
}

@media (max-width: 1300px) {
    .cover {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
}
.cover-bottom {
    background-position: center bottom;
}

.cover-top {
    background-position: center top;
}

.mt-100 {
    margin-top: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.text-right {
    text-align: right;
}

.text-light {
    opacity: .7;
}





/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 35px 15px;
    color: var(--MainColor);
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--MainColor);
}

.navbar.fixed-top {
    transition: .5s;
}
/* Logo */
/* Estilos para o logotipo */
.header__title {
    display: flex;
    align-items: center;
}

.logo > img{
    border-radius: 50%;
    width: 179px;
    height: 100%; /* Espaçamento à direita para separar o logotipo dos outros links */
}
@media(max-width: 987px){
    .logo > img {
        border-radius: 50%;
        width:85px;
        height: 100%;
        margin-left: 10px;
        margin-top: 10px;
    }
}
@media(max-width:630px) {
    .logo > img {
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 10px;
        width: 70px;
        height: 70px;
        ;

    }
}
/* Outros estilos para a barra de navegação, se necessário */


@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, .3);
        background: var(--MainColor);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/* Animação */
.slideshow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
            animation-name: kenburns;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    opacity: 0.5;
    transform: scale(1.2);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 0, 0, 0.5)); /* Gradient background */
  }
  .slideshow-image:nth-child(1) {
    -webkit-animation-name: kenburns-1;
            animation-name: kenburns-1;
    z-index: 3;
  }
  .slideshow-image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
            animation-name: kenburns-2;
    z-index: 2;
  }
  .slideshow-image:nth-child(3) {
    -webkit-animation-name: kenburns-3;
            animation-name: kenburns-3;
    z-index: 1;
  }
  .slideshow-image:nth-child(4) {
    -webkit-animation-name: kenburns-4;
            animation-name: kenburns-4;
    z-index: 0;
  }
  
  @-webkit-keyframes kenburns-1 {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
    1.5625% {
      opacity: 1;
    }
    23.4375% {
      opacity: 1;
    }
    26.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
    98.4375% {
      opacity: 0;
      transform: scale(1.2117647059);
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes kenburns-1 {
    0% {
      opacity: 1;
      transform: scale(1.2);
    }
    1.5625% {
      opacity: 1;
    }
    23.4375% {
      opacity: 1;
    }
    26.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
    98.4375% {
      opacity: 0;
      transform: scale(1.2117647059);
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes kenburns-2 {
    23.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    26.5625% {
      opacity: 1;
    }
    48.4375% {
      opacity: 1;
    }
    51.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @keyframes kenburns-2 {
    23.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    26.5625% {
      opacity: 1;
    }
    48.4375% {
      opacity: 1;
    }
    51.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @-webkit-keyframes kenburns-3 {
    48.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    51.5625% {
      opacity: 1;
    }
    73.4375% {
      opacity: 1;
    }
    76.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @keyframes kenburns-3 {
    48.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    51.5625% {
      opacity: 1;
    }
    73.4375% {
      opacity: 1;
    }
    76.5625% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }
  @-webkit-keyframes kenburns-4 {
    73.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    76.5625% {
      opacity: 1;
    }
    98.4375% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  @keyframes kenburns-4 {
    73.4375% {
      opacity: 1;
      transform: scale(1.2);
    }
    76.5625% {
      opacity: 1;
    }
    98.4375% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
 


/* Hero - Section central */

.hero {
    position: relative;
    overflow: hidden;
    min-height: 98vh;
}

.hero h1 {
    font-size: 60px;
    line-height: 84px;
    letter-spacing:-3px;
    font-weight: 700;
}
.hero-right-bg-card {
    background-color: var(--MainColorDark);
    position: absolute;
    right: 0;
    border-radius: 200px;
    width: 50%;
    height: 150%;
    bottom: 200px;
    transform: rotate(32deg);
    transform-origin: bottom left;
}

.hero-right-bg-card.with-image {
    overflow: hidden;
    background-color: transparent;
}

.hero-right-bg-card.with-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 28%;
    left: -9%;
    z-index: -1;
    background: var(--backgroundImage);
    transform: rotate(-32deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}


.hero-opacity {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero-opacity.opacity-10 {
    background-color: rgba(0, 0, 0, 0.1);
}

.hero-opacity.opacity-20 {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Estilo para a classe hero-title */
.hero-title {
    position: absolute;
    top: 50%; /* Posiciona verticalmente no centro */
    left: 50%; /* Posiciona horizontalmente no centro */
    transform: translate(-50%, -50%); /* Centraliza o elemento */
    z-index: 2; /* Define a ordem de empilhamento (se necessário) */
}




@media only screen and (max-width: 1199px) {
    .site-footer.style-1 .footer-top .widget_services {
        padding-left: 0;
    }
}


 @media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 1680px) {
    .container {
        max-width: 1600px;
    }
}





@media screen and (max-width: 1736px) {
    .hero-boxed-content {
        margin-left: 0;
        margin-right: 0;
    }
    .hero-boxed-info-list-container {
        left: 0;
    }
    .hero-boxed-info-card-small {
        top: 14%;
    }
    .hero-boxed-icon-circle-2 {
        bottom: 140px;
        right: 200px;
    }
}
@media screen and (max-width: 1679px) {
    .hero-center-carousel {
        width: 43%;
    }
    .hero-stats-item:nth-child(1) {
        right: 16%;
    }
    .hero-stats-item:nth-child(2) {
        right: 19%;
    }
    .hero-stats-item:nth-child(3) {
        right: 22%;
    }
    .hero-boxed-content {
        margin-left: -80px;
        margin-right: -80px;
    }
    .hero-boxed-icon-circles {
        display: none;
    }
    .info-fig {
        padding-bottom: 60px;
        padding-right: 120px;
    }
    .info-fig-image, 
    .info-fig::before {
        height: 500px;
    }
    .info-fig::before {
        left: 60px;
        right: 60px;
    }
}
@media screen and (max-width: 1599px) {
    .pl-80 {
        padding-left: 0;
    }
    .hero 
     {
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -2px;
    }
    .hero-card,
    .hero-card-dark,
    .hero-card-light {
        height: 46vh;
        min-height: 460px;
    }
    .hero-right-bg-card {
        width: 56%;
    }
    .dashboard-stats-card-icon {
        width: 80px;
        height: 80px;
        border-radius: 20px;
        font-size: 36px;
    }
    .dashboard-stats-card-info-number {
        font-size: 36px;
        line-height: 36px;
    }
}
@media screen and (max-width: 1456px) {
    .hero-boxed-content {
        margin-left: 0;
        margin-right: 0;
        padding: 60px;
    }
    .hero-boxed-icon-circles {
        display: block;
    }
    .hero-boxed-info-cards {
        display: none;
    }
    .dashboard-stats-card-icon {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        font-size: 28px;
    }
    .dashboard-stats-card {
        padding: 20px;
    }
    .dashboard-stats-card-info {
        padding-left: 10px;
    }
    .dashboard-stats-card-info-number {
        font-size: 28px;
        line-height: 28px;
    }
}
@media screen and (max-width: 1399px) {
    .hero-boxed-icon-circles {
        display: none;
    }
    .search-container {
        width: 50%;
    }
    .testimonials-1-circles-item.item-1 {
        width: 80px;
        height: 80px;
        left: 5%;
    }
    .testimonials-1-circles-item.item-2 {
        width: 90px;
        height: 90px;
        left: 12%;
    }
    .testimonials-1-circles-item.item-3 {
        width: 160px;
        height: 160px;
    }
    .testimonials-1-circles-item.item-4 {
        width: 80px;
        height: 80px;
        top: 280px;
    }
    .testimonials-1-circles-item.item-5 {
        width: 60px;
        height: 60px;
        left: 13%;
    }
    .testimonials-1-circles-item.item-6 {
        width: 100px;
        height: 100px;
        right: 10%;
    }
    .testimonials-1-circles-item.item-7 {
        width: 70px;
        height: 70px;
        right: 5%;
    }
    .testimonials-1-circles-item.item-8 {
        width: 160px;
        height: 160px;
    }
    .testimonials-1-circles-item.item-10 {
        width: 90px;
        height: 90px;
        right: 10%;
    }
    .jobs-list-side-filter.with-details .list-side-filter-panel {
        display: none;
    }
    .dashboard-inbox-messages-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        display: none;
        background-color: #fff;
        height: auto;
        border-radius: 0;
    }
    .dashboard-inbox-messages-container.show {
        display: block;
    }
    .dashboard-inbox-list {
        height: auto;
        overflow-y: visible;
    }
    .dashboard-inbox-list ul li.active .dashboard-inbox-list-item {
        background-color: #fff;
    }
    .dashboard-inbox-messages-close-btn {
        background-color: #fff;
        color: var(--TextColor);
        border: 1px solid var(--TextColor);
        font-size: 15px;
        font-weight: 500;
        transition: var(--HoverTransition);
        transition-property: color, background-color;
        margin-left: 20px;
    }
    .dashboard-inbox-messages-close-btn:hover {
        background-color: var(--TextColor);
        color: #fff;
    }
    .dashboard-inbox-list-item {
        padding: 0 0 30px 0;
    }
}
@media screen and (max-width: 1139px) {
    
}
@media screen and (max-width: 991px) {
    .hero h1 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -2px;
    }
    .section-h2,
    .page-header-simple h1,
    .blog-hero h1 {
        font-size: calc(1.325rem + .9vw);
        letter-spacing: -1px;
    }
    .promo-img {
        border-radius: 30px;
        padding-left: 40px;
    }
    .promo-img.pb-100 {
        padding-bottom: 60px;
    }
    .promo-img.pt-100 {
        padding-top: 60px;
    }
    .info-caption-list,
    .info-caption-cta {
        margin-top: 40px;
    }
    .list-side-filter-panel {
        display: none;
    }
    .jobs-tab-content {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        overflow-y: auto;
        display: none;
    }
    .jobs-tab-content.show {
        display: block;
    }
    .jobs-tab-content .tab-pane {
        border-radius: 0;
    }
    .jobs-tab-pane-cover {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .jobs-card-4.active {
        background-color: #fff;
        border-color: var(--LightGrayColor);
    }
    .jobs-card-4.active .jobs-card-4-company-logo {
        border: 0 none;
    }
    .jobs-card-4.active .jobs-card-4-title, 
    .jobs-card-4.active .jobs-card-4-location, 
    .jobs-card-4.active .jobs-card-4-type, 
    .jobs-card-4.active .jobs-card-4-company, 
    .jobs-card-4.active .jobs-card-4-date {
        color: var(--TextColor);
    }
    .jobs-tab-pane-close-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1031;
        background-color: #fff;
        color: var(--TextColor);
        border: 1px solid var(--TextColor);
        font-size: 15px;
        font-weight: 500;
        transition: var(--HoverTransition);
        transition-property: color, background-color;
    }
    .jobs-tab-pane-close-btn:hover {
        background-color: var(--TextColor);
        color: #fff;
    }
    .single-job-content h1 {
        font-size: 28px;
    }
    .dashboard-content {
        margin: 80px 0.75rem 0 0.75rem;
    }
    .dashboard-content-details {
        margin-right: 0;
    }
    .dashboard-content-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 0.75rem;
        height: 80px;
        background-color: var(--MainColorLight);
        z-index: 1030;
    }
    .dashboard-content-header.is-candidate {
        background-color: var(--SecondaryColorLight);
    }
    .dashboard-content-details h1 {
        font-size: 28px;
        letter-spacing: -1px;
    }
    .posts-card-2 {
        flex-direction: column;
        height: auto;
    }
    .posts-card-2-fig,
    .posts-card-2-fig .cover {
        width: 100%;
        margin: 0;
    }
    .posts-card-2-summary {
        display: block;
    }
    .hero-subtitle {
        font-size: 16px;
    }
    .single-blog-content h2 {
        font-size: 20px;
    }
    .page-image-hero h1 {
        font-size: calc(1.625rem + .9vw);
        letter-spacing: -1px;
    }
    .footer-social ul li {
        margin-left: 0;
        margin-right: 34px;
    }
}
@media screen and (max-width: 767px) {
    .mt-100 {
        margin-top: 60px;
    }
    .hero-form-round.bigger {
        height: auto;
        padding: 20px;
    }
    .hero-form-round.bigger form {
        height: auto;
    }
    .hero-form-round.bigger form .has-left-border {
        border-left: 0 none;
    }
    .hero-form-round.bigger form .form-control, 
    .hero-form-round.bigger form .form-select {
        padding-left: 0;
        padding-right: 0;
    }
    .hero-form-round.bigger .form-floating > label {
        padding-left: 0;
    }
    .hero-form-round.bigger form button {
        width: 100%;
        margin-right: 0;
    }
    .hero-boxed-content {
        padding: 40px;
        border-radius: 30px;
    }
    .hero h1 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -1px;
    }
    .testimonials-1-carousel-container {
        position: relative;
    }
    .testimonials-1-carousel-container,
    .testimonials-1-carousel-container > .row {
        height: auto;
    }
    .jobs-card-3 {
        padding: 20px;
    }
    .single-job-cover {
        height: 300px;
    }
    .single-job-cover-logo {
        width: 80px;
        height: 80px;
    }
    .single-company-hero-logo {
        width: 80px;
        height: 80px;
    }
    .single-company-hero,
    .page-image-hero {
        height: 380px;
    }
    .single-company-hero-title h1 {
        font-size: 28px;
    }
    .single-company-content h2 {
        font-size: 22px;
    }
    .subsection-h2 {
        font-size: 22px;
    }
    .dashboard-content-details h2 {
        font-size: 22px;
    }
    .dashboard-content-details {
        padding: 30px;
    }
    .company-dashboard-messages-item-avatar {
        width: 40px;
        height: 40px;
    }
    .dashboard-inbox-messages-header {
        padding: 20px;
    }
    .dashboard-inbox-messages-content {
        padding: 130px 20px;
    }
    .dashboard-inbox-messages-footer {
        padding: 20px;
    }
    .single-candidate-hero-avatar {
        width: 80px;
        height: 80px;
    }
    .single-candidate-hero {
        height: 380px;
    }
    .single-candidate-hero-name h1 {
        font-size: 28px;
    }
    .single-candidate-content h2 {
        font-size: 22px;
    }
    .dashboard-chart-container {
        padding: 20px;
    }
    .pb-100 {
        padding-bottom: 60px;
    }
    .pt-100 {
        padding-top: 60px;
    }
}
@media screen and (max-width: 575px) {
    .logo > a {
        font-size: 20px;
    }
    .nav-trigger {
        flex: 0!important;
    }
    .hero-form-round {
        height: auto;
        padding: 20px;
    }
    .hero-form-round form {
        height: auto;
    }
    .hero-form-round form .has-left-border {
        border-left: 0 none;
    }
    .hero-form-round form .form-control, 
    .hero-form-round form .form-select {
        padding-left: 0;
        padding-right: 0;
    }
    .hero-form-round.large .form-control,
    .hero-form-round.large .form-select {
        padding: .375rem .75rem;
    }
    .hero-form-round form button {
        width: 100%;
    }
    .header-right {
        display: none;
    }
    .hero-boxed-content {
        padding: 20px;
    }
    .info-stats {
        display: none;
    }
    .info-fig-image, 
    .info-fig::before {
        height: 400px;
    }
    .info-fig {
        padding-bottom: 20px;
        padding-right: 20px;
    }
    .info-fig::before {
        left: 20px;
        right: 0;
    }
    .dashboard-content-details {
        padding: 20px;
    }
    .nav-trigger {
        margin-left: 20px;
    }
    .user-nav .nav-btn {
        display: none;
    }
    .companies-list-top .form-select,
    .jobs-list-top .form-select,
    .candidates-list-top .form-select {
        padding-left: 0;
    }
    .companies-card-1.has-border {
        padding: 20px;
    }
    .hero-form-round {
        border-radius: 30px;
    }
    .companies-list-top h2,
    .jobs-list-top h2,
    .candidates-list-top h2 {
        font-size: 20px;
    }
    .companies-card-1-bottom {
        margin-top: 20px;
    }
    .jobs-card-1, 
    .jobs-card-2, 
    .jobs-card-3 {
        padding: 20px;
    }
    .jobs-card-1-company-logo, 
    .jobs-card-2-company-logo, 
    .jobs-card-3-company-logo {
        width: 60px;
        height: 60px;
    }
    .promo-img {
        padding-left: 40px;
        padding-right: 40px;
    }
    .promo-img.pt-100 {
        padding-top: 40px;
    }
    .promo-img.pb-100 {
        padding-bottom: 40px;
    }
    .companies-card-1-company-logo {
        width: 60px;
        height: 60px;
    }
    .posts-card-1-info {
        padding: 20px;
    }
    .posts-card-1-content {
        padding: 20px 20px 0;
    }
    .posts-card-1-cta {
        padding: 0 20px 20px;
    }
    .posts-card-1-bottom {
        margin-top: 20px;
    }
    .cities-card-2-info {
        padding: 20px;
    }
    .candiadates-card-1 {
        padding: 20px;
    }
    .candiadates-card-1-name,
    .candiadates-card-1-location,
    .candiadates-card-1-bottom {
        margin-top: 20px;
    }
    .plans-card-1 {
        padding: 20px;
    }
    .plans-card-1-list,
    .plans-card-1-bottom {
        margin-top: 30px;
    }
    .plans-card-1-price {
        margin-top: 10px;
    }
    .list-side-filter-header-label {
        font-size: 18px;
    }
    .jobs-list-side-filter h3 {
        font-size: 16px;
    }
    .jobs-list-side-filter {
        padding: 20px;
    }
    .jobs-card-2-top {
        display: block;
    }
    .jobs-card-2-info {
        margin-left: 0;
        margin-top: 10px;
    }
    .jobs-card-2-bottom {
        display: block;
    }
    .jobs-card-4 {
        padding: 20px;
    }
    .jobs-card-4-company-top {
        display: block;
    }
    .jobs-card-4-info {
        padding-left: 0;
        margin-top: 10px;
    }
    .jobs-tab-pane-logo {
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }
    .jobs-tab-pane-content h3 {
        font-size: 22px;
    }
    .single-job-cover-logo {
        margin-top: -40px;
        margin-left: 40px;
    }
    .single-job-content h1 {
        font-size: 22px;
    }
    .companies-list-side-filter {
        padding: 20px;
    }
    .companies-list-side-filter h3 {
        font-size: 16px;
    }
    .single-company-hero-content {
        display: block;
    }
    .single-company-hero-title {
        margin-left: 0;
        margin-top: 10px;
    }
    .single-company-hero-caption {
        bottom: 40px;
    }
    .single-company-side-panel {
        padding: 20px;
    }
    .single-job-side-panel {
        padding: 20px;
    }
    .candidates-list-side-filter {
        padding: 20px;
    }
    .candidates-list-side-filter h3 {
        font-size: 16px;
    }
    .single-candidate-hero-content {
        display: block;
    }
    .single-candidate-hero-name {
        margin-left: 0;
        margin-top: 10px;
    }
    .single-candidate-hero-caption {
        bottom: 40px;
    }
    .single-candidate-side-panel {
        padding: 20px;
    }
    .single-candidate-hero.boxed .single-candidate-hero-caption {
        right: 30px;
    }
    .featured-posts-item-summary {
        display: none;
    }
    .featured-posts-item-title {
        font-size: 22px;
    }
    .blogs-list-side-panel {
        padding: 20px;
    }
    .hero h1 {
        font-size: 24px;
    }
    .categories-card-3-text {
        padding: 10px 20px;
    }
}

/*** About ***/
.img-twice::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    background: var(--MainColor);
    border: 25px solid var(--MainColorTransparent);
    border-radius: 6px;
    z-index: -1;
}


/*** Product ***/
.product-item {
    transition: .5s;
}

.product-item:hover {
    background: var(--MainColor) !important;
}

.product-item:hover * {
    color: var(--MainColorLight);
}

.product-item:hover .border-primary {
    border-color: var(--MainColorLight) !important;
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.product-item:hover .product-overlay {
    height: 100%;
    opacity: 1;
}
