body {
  position: relative;
  overflow-x: hidden;
  background-color: #CFD8DC;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {

  z-index: 1000;
  left: 190px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/



.navbar {
padding: 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #ebac8b;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}
.sidebar-nav li:hover{
background: #e66b6e !important;
border-radius: 10px;
margin-left: 10px;
margin-right: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-header {
  text-align: center;
  font-size: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
}
.sidebar-brand {
  height: 100px;
  position: relative;
  background:#212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
 padding-top: 1em;
}
.sidebar-brand a {
  color: #ddd;
}
.sidebar-brand a:hover {
  color: #fff;
  text-decoration: none;
}
.dropdown-header {
  text-align: center;
  font-size: 1em;
  color: #ddd;
  background:#212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
.dropdown-menu.show {
  top: 0;
}
/*Fontawesome icons*/
/* .nav.sidebar-nav li a::before {
  font-family: fontawesome;
  content: "\f12e";
  vertical-align: baseline;
  display: inline-block;
  padding-right: 5px;
}
a[href*="#home"]::before {
content: "\f015" !important;
}
a[href*="#about"]::before {
content: "\f129" !important;
}
a[href*="#events"]::before {
content: "\f073" !important;
}
a[href*="#events"]::before {
content: "\f073" !important;
}
a[href*="#team"]::before {
content: "\f0c0" !important;
}
a[href*="#works"]::before {
content: "\f0b1" !important;
}
a[href*="#pictures"]::before {
content: "\f03e" !important;
}
a[href*="#videos"]::before {
content: "\f03d" !important;
}
a[href*="#books"]::before {
content: "\f02d" !important;
}
a[href*="#art"]::before {
content: "\f1fc" !important;
}
a[href*="#awards"]::before {
content: "\f02e" !important;
}
a[href*="#services"]::before {
content: "\f013" !important;
}
a[href*="#contact"]::before {
content: "\f086" !important;
}
a[href*="#followme"]::before {
content: "\f099" !important;
color: #0084b4;
} */
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
position: fixed;
top: 20px;
z-index: 999;
display: block;
width: 32px;
height: 32px;
margin-left: 15px;
background: transparent;
border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
outline: none;
}
.hamburger.is-closed:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
position: absolute;
left: 0;
height: 4px;
width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
top: 5px;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
top: 50%;
margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
bottom: 5px;
-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
top: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
bottom: 0;
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
top: 50%;
margin-top: -2px;
margin-left: 200px;
}
.hamburger.is-open .hamb-top {
-webkit-transform: rotate(45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
-webkit-transform: rotate(-45deg);
-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
content: '';
display: block;
width: 100px;
font-size: 14px;
color: #fff;
line-height: 32px;
text-align: center;
opacity: 0;
-webkit-transform: translate3d(0,0,0);
-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
opacity: 1;
display: block;
-webkit-transform: translate3d(-100px,0,0);
-webkit-transition: all .35s ease-in-out;
}
/*
Conteudo */

main{
  margin-left: 250px;
  margin-right: 6px;
  overflow: hidden;
  font-weight: 300px;
  display: flex;

}

.main-title {
  color: #545454;
  display: flex;
  margin-left: 25px;
  justify-content: flex-start;
    font-weight: 400;
    padding-top: 10px;

}

.main-title > span{
  gap: 15px ;
}
.main__servicos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

/* estilo de cards serviços e perfil dentro da main*/
.main__servicos__card {
  background-color: #fdf5eb;
  box-shadow: 5px 10px 5px 3px rgba(255, 216, 216, 0.6588235294);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  width: 400px;
  transition: ease-in-out 0.5s;
}

.main__servicos__card .card__text h4 {
  color: #e66b6e;
  font-size: 1.525rem;
  font-weight: 500;
  margin: 0.725rem 1rem;
}
.main__servicos__card .card__text p {
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 1rem;
  width: 80%;
}
.main__servicos__card .card__button {
  display: flex;

}
.main__servicos__card .card__button a {
  color:  #e66b6e;
  font-size: 1.315rem;
  font-weight: 400;
  padding: 0.2rem 1rem;
  margin: 0.5rem 1rem;
  transition: ease-in-out 0.2s;
  text-decoration: none !important;
}
.main__servicos__card .card__button a:hover {
  color: #fdf5eb;
  background-color: #e66b6e;
} /*# sourceMappingURL=servicos.css.map */

.card__button-group {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
  justify-content: space-between; /* Alinhamento dos botões no espaço disponível */
}

/* criar serviço card */
#make-service{
  margin: 15px;

}




/* Cards com outros estilos e forms */
.card__form, .card__form_serv, .card__form_perfil {
  background-color: #fdf5eb;
  box-shadow: 5px 10px 5px 3px rgba(255, 216, 216, 0.6588235294);
  display: flex;
    justify-content: center;
  height: 300px;
  max-width: 400px; /* Defina a largura máxima */
  margin: auto;
  top: 20px;
  position: relative;
  gap: 10px;
  transition: ease-in-out 0.5s;
  text-align: center; /* Centralize o conteúdo horizontalmente */
  padding: 20px;
}

.card__form_perfil{
  /* flex-direction: column; */
  /*  border: 1px solid red; */
}


.form-control{
 background-color:  #fff !important;
}



.card__form, .card__form_serv, .card__form_perfil .form-icon span {
  color: #e66b6e;
}

.card__form .form-group {
  margin: 0.5rem 0; /* Ajuste as margens para centralizar */

}



.card__form .form-group input {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.2rem 0.5rem;
  border: none;
  background-color: #fdf5eb;
  border-bottom: 2px solid #e66b6e;
  width: 100%;
}

.card__form .form-group input::placeholder {
  color: var(--secondary);
}


.card__form, .card__form_serv .form-group button {
  color: #e66b6e;
  font-size: 1.315rem;
  font-weight: 400;
  padding: 0.2rem 1rem;

  transition: ease-in-out 0.2s;
  text-decoration: none !important;
  border: 2px solid #e66b6e;

}

.card__form ,.card__form_serv.form-group button:hover {
  color: #fdf5eb;
  background-color: #e66b6e;
}


.hidden, .hidden-serv {
  visibility: hidden;
  position: absolute;
  left: -9999px; /* Move the element off-screen instead of hiding */

}

.card__form_perfil.hidden {
  display: none;
}


.sidebar-header{
  width: 100%;
  margin-bottom: 16px;

}

.logo-img{
  width: 50px;
  min-width: 60px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s;
  margin-top: 2px;
  border-color: #CFD8DC;
   box-sizing: none !important;
}

.logo-img:hover{
  transform: scale(1.5);
}

 /* Intuito de esconder as divs */
.esconder{
display: none !important;
}


/* responsabilidade do botão da main_serviços _card */
@media (max-width: 480px){
  .card__button-group, .card__button {
    flex-direction: column; /* Stack buttons vertically */
    align-items: stretch; /* Stretch buttons to full width */
}
  }

  /* ids testes */
 